* {
  box-sizing: border-box;
}
html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background: url(../assets/bg.png);
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}